# ======================================
# VIRTUAL ENVIRONMENTS
# ======================================
venv/
venv310/
.venv/

# ======================================
# PYTHON CACHE
# ======================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================================
# JUPYTER
# ======================================
.ipynb_checkpoints/

# ======================================
# OS FILES
# ======================================
.DS_Store
Thumbs.db

# ======================================
# LARGE DATASETS
# ======================================
data/
dataset/
datasets/

# ======================================
# GENERATED DENSITY MAPS
# ======================================
density_maps/
generated_density_maps/
*.npy

# ======================================
# TRAINED MODELS AND CHECKPOINTS
# ======================================
*.pth
*.pt
*.h5
*.keras

# ======================================
# TEMPORARY FILES
# ======================================
*.log

# Generated outputs
outputs/